
/*-------------- Metodo con float -------------*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container-pulsante{
    width: 100%;
    position: fixed;
    z-index: 1001;
}

.container-pulsante ul::after{
    content: "";
    display: table;
    clear: both;
}

.container-pulsante ul{
    list-style: none;
}

.container-pulsante ul li{
    width: 70px;
    height: 70px;
    float: right;
    margin: 20px 20px 0;
    background-color: white;
    border-radius: 50%;
    font-size: 10px;
}

.container-pulsante ul li:hover{
    background-color: lightgrey;
}

.container-pulsante ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 700;
    padding: 25px;
}

.posizionamento{
    text-align: center;
    line-height: 70px;
}

.box{
    height: 100vh;
    position: relative;
}

.box-content{
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-content img{
    width: 100%;
}

.box-content h1{
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.red{
    background-color: red;
    color: yellow;
}
.green{
    background-color: lightgreen;
    color: yellow;
}
.yellow{
    background-color: yellow;
    color: green;
} */




/* 2° Metodo semplificato */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.button{
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 1001;
}

.button a{
    width: 40px;
    height: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    margin: 0 15px;
    text-decoration: none;
    color: black;
}
.button a:hover{
    background-color: blue;
}

.box{
    height: 100vh;
    position: relative;
}

.content{
    height: 500px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content img{
    width: 100%;
}

.content h1{
    font-size: 50px;
    font-weight: 700;
    color: yellow;
    text-align: center;
}

.box-red{
    background-color: red;
}

.box-green{
    background-color: green;
}

.box-yellow{
    background-color: yellow;
}
#color-box-3{
    color: green;
}