*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-pulsante{
    /* height: 100px; */
    width: 100%;
    border: 1px solid black;
    position: fixed;
    z-index: 1001;
}

.container-pulsante ul::after{
    content: "";
    display: table;
    clear: both;
}

.container-pulsante ul{
    list-style: none;
}

.container-pulsante ul li{
    float: right;
    margin-left: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 10px;
}

.container-pulsante a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 600;

}






.box{
    height: 100vh;
    position: relative;
}

.box-content{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-content img{
    width: 100%;
}

.box-content h1{
    width: 100%;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}

.box-1{
    background-color: red;
    color: yellow;
}
.box-2{
    background-color: lightgreen;
    color: yellow;
}
.box-3{
    background-color: yellow;
    color: green;
}
nav{

}