*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* box sempre uguale e aggiungere delle classi con colore */
.box{
    height: 100vh;
    position: relative;
}

.box-content{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-content img{
    width: 100%;
}

.box-content h1{
    width: 100%;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}

.box-1{
    background-color: red;
    color: yellow;
}
.box-2{
    background-color: lightgreen;
    color: yellow;
}
.box-3{
    background-color: yellow;
    color: green;
}